.game-over {
  /* keeps box on top */
  position: absolute;
  z-index: 1;

  /* so box covers most of screen */
  left: 10%;
  right: 10%;
  top: 10%;
  bottom: 50%;

  text-align: center;
  font-size: 2em;
  background: lightgreen;
  padding: 2em;

  /* whole box is centered */
  margin-left: auto;
  margin-right: auto;
}
